{{> header}}
<div id="main" class="index">
	<div id="logo"></div>
	<div id="status">
		waiting...
	</div>
	<div id="winner"></div>
	<div id="scores">
		<div id="clock"><i class="fa fa-clock-o"></i> <span id="timer">300</span></div>
		<div id="goal">"<span id="from"></span>" <i class="fa fa-hand-o-right"></i> "<span id="to"></span>"</div>
		<div class="col" id="p0">
			<h1><span class="circle">1</span> <span class="name"></span></h1>
			<ul></ul>
		</div>
		<div class="col" id="p1">
			<h1><span class="circle">2</span> <span class="name"></span></h1>
			<ul></ul>
		</div>
	</div>
	<div id="dings">
		<h1>Dings</h1>
		<div class="row">
			<div class="col-md-6">
				<h2>Regeln</h2>
				<ol>
					<li>Zwei gehen rein, eine*r kommt raus.</li>
					<li>Es gibt kein Zurück</li>
					<li>Keine Listen, Portale und Übersichtsseiten</li>
					<li>Es gibt Punkte nach Zeit und Klicks</li>
					<li>Es kann Bonus- und Maluspunkte geben</li>
					<li>Es gewinnt, wer die meißten Punke hat</li>
					<li>Bei Gleichstand entscheidet @zufall</li>
					<li>Reinrufen ist erwünscht!</li>
					<li>Lucie ist die Endgegnerin</li>
				</ol>
			</div>
			<div class="col-md-6">
				<h2>Danke!</h2>
				<p>Wir Danken <strong>Wikimedia Deutschland e.V.</strong> und <strong>getDigital.de!</strong> für die tollen Preise.</p>
				<h2>Credits</h2>
				<p>
					Gameplay Music:<br />
					<strong><em>Son of a Rocket</em> by Kevin MacLeod (incompetech.com)</strong><br />
					<small>Licensed under Creative Commons: By Attribution 3.0<br />
					http://creativecommons.org/licenses/by/3.0/</small>
				</p>
			</div>
		</div>
	</div>
</div>
{{> footer}}
