{{> header}}
<div id="main" class="select">
	<div id="select">
		<a href="/p/0" class="btn btn-lg btn-primary">Player 1</a>
		<a href="/p/1" class="btn btn-lg btn-primary">Player 2</a>
	</div>
</div>
{{> footer}}