<div id="players">
	Player 1: <div id="player1"><em>None</em></div>
	Player 2: <div id="player2"><em>None</em></div>
</div>
<div id="round">
	From: <div id="from"><em>None</em></div>
	To: <div id="to"><em>None</em></div>
</div>
<div id="controls">
	<a href="javascript:;" class="btn btn-large btn-primary" id="round-new">Neue Runde</a>
	<a href="javascript:;" class="btn btn-large btn-primary" id="round-start">Runde Starten</a>
	<a href="javascript:;" class="btn btn-large btn-primary" id="reset">Reset</a>
	<a href="javascript:;" class="btn btn-large btn-primary" id="startsplash">Splash</a>
</div>
<div id="log"></div>