<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Six Degrees of Wikipedia</title>
		<meta charset="utf-8" />
		<!--[if lt IE 9]><script src="/assets/js/html5shiv.min.js" type="text/javascript"></script><![endif]-->
		<link href="/assets/fonts/source-code-pro/source-code-pro.css" rel="stylesheet" type="text/css" />
		<link href="/assets/fonts/source-sans-pro/source-sans-pro.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/index.css" rel="stylesheet" type="text/css">
		<script src="/socket.io/socket.io.js" type="text/javascript"></script>
		<script src="/assets/js/jquery-1.9.1.min.js" type="text/javascript"></script>
		<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="/assets/js/index.js" type="text/javascript"></script>
	</head>
	<body class="{{class}}">
		<div id="main" role="main">
			{{>content}}
		</div>
		<div id="splash"></div>
	</body>
</html>