<div id="login">
	<form action="javascript:;" method="post" id="enter-name">
		<div class="input-prepend">
			<span class="add-on">Name</span>
			<input type="text" name="name" id="name" size="20" />
		</div>
	</form>
</div>
<div id="wait">
	Warte auf Start. <div id="preview"></div>
</div>
<div id="play">
	<div id="destination"></div>
	<div id="clock"></div>
	<div id="article">
		<h1 id="article-headline"></h1>
		<div id="article-content"></div>
	</div>
</div>