<div id="game">
	<div id="from"></div>
	<div id="to"></div>
	<div id="state">WAIT</div>
</div>
<div id="player1">
	<div class="name"></div>
	<div class="article"></div>
	<div class="history"></div>
</div>
<div id="player2">
	<div class="name"></div>
	<div class="article"></div>
	<div class="history"></div>
</div>